body {
  background-color: rgb(34, 34, 34);
}

.answer-button {
  align-items: center;
  background-color: #EA4C89;
  border-radius: 0.5em;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  line-height: 1em;
  list-style: none;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  outline: none;
  padding: 1em 1.1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.answer-button:hover,
.answer-button:focus {
  background-color: #F082AC;
}

.answer-button.disabled {
  background-color: unset;
}

.right_answer {
  background-color: #33cc33;
}

.wrong_answer {
  background-color: #ff0000;
}

.grid-container {
  display: grid;
  
}

img {
  width: 40%;
  max-height: auto;
}

.credit {
  color: white;
  font-size: small;
}


.row1 {
  align-self: left;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  justify-self: left;
}

.row2 {
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  grid-row-gap: 2em;
  justify-self: center;
}

.row3 {
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  grid-row-gap: 2em;
  justify-self: center;
}